<div class="container">
    <!-- <header class="jumbotron">
      <p>{{ content }}</p>
      
    </header> -->
 
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item" >
          <a href="/table" class="nav-link" routerLink="table">Tableau de bord</a>
        </li>
        <li class="nav-item" >
          <a href="/dashbord" class="nav-link" routerLink="dashbord">les  dashbords</a>
        </li>
        <li class="nav-item" >
          <a href="/rapport" class="nav-link" routerLink="rapport">les rapports</a>
        </li>
      </ul>
   
  </div>