
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Bienvenue dans notre platforme D'analyse financieres </h1>
        <span></span>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Service <em>Finance</em></h2>
          
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="service-item">
          <img src="assets/images/service_01.jpg" alt="">
          <div class="down-content"  >
            <h4>Tableau de Bord </h4>
            <p>Tu peut trouver les informations des clients ici. </p>
            <br>
            <a href="/table" class="nav-link " routerLink="table">Tableau de bord</a>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/service_02.jpg" alt="">
          <div class="down-content">
            <h4>Les dashbords </h4>
            <p>Ici nous avons les differents courbes et dashbords qui montres les differents statistiques des clients.</p>
            
            <a href="/dashbord" class="nav-link" routerLink="dashbord">les  dashbords</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/service_03.jpg" alt="">
          <div class="down-content">
            <h4>Les rapports</h4>
            <p>Ici nous avons les differents rapports à montrer des clients .</p>
            <br>
            <a href="/rapport" class="nav-link" routerLink="rapport">les rapports</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>