<div class="page-heading header-text">
    <div class="col-md-12">
        <div class="section-heading">
          <h2> <em> Welcome To our dashboard Page</em></h2>
          <span><H1>Have a nice experience</H1></span>
        </div>
      </div>

<iframe title="testodbc" width="1100" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=61ecfc0d-b2e2-49ad-b5be-6bf0edbd4dd9&autoAuth=true&ctid=284641fd-1f1e-4c89-a2ea-54ed9be9831e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtZy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" ></iframe>

</div>