
   
    
  <div class="page-heading header-text">
    <div class="col-md-12">
        <h1>Bienvenue admin  </h1>
        <span></span>
      </div>
    <table class="table table table-bordered section-heading">
        <thead >
          <tr>
            <th scope="col">id</th>
            <th scope="col">usersname</th>
            <th scope="col">email</th>
            <th scope="col">role</th>
            <th scope="col">delete</th>
            
          </tr> 
        </thead>
        <tbody >
          <tr *ngFor="let ad of table; let i =index">
             <td>{{ad.id}}</td>
            <td>{{ad.username}}</td>
            <td>{{ad.email}}</td>
            <td *ngFor="let a of ad.roles">{{a.name}}</td>
            <td><button class="btn btn-danger" (click)="delete(ad.id)">delete</button></td>
          </tr>
         
        </tbody>    
</table>

  </div>

  
    
    
      

 
  


