
<!-- <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
     
      <div class="item item-1">
        <div class="img-fill">
            <div class="text-content">
              <h6>we are ready to help you</h6>
              <h4>Financial Analysis<br>&amp; Consulting</h4>
              <h6>Societe d'Investissement a Capital Risque
              </h6>
              <a href="contact.html" class="filled-button">contact us</a>
            </div>
        </div>
      </div>
      <div class="request-form">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h4>Request a call back right now ?</h4>
              <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
            </div>
            <div class="col-md-4">
              <a href="contact.html" class="border-button">Contact Us</a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>STB SICAR</h6>
                  <h4>Societe d'Investissement a Capital Risque
                    <br>&amp; Consulting</h4>
                  <p>Fondée en 1998. Filiale du groupe STB.Spécialisée dans le private equity.Partner of your success</p>
                  <a href="contact.html" class="filled-button">contact us</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <br>
                  <h6>Nos valeurs</h6>
                  <h4>Choisissez la STB SICAR pour...</h4>
                  <h6>INTÉGRITÉ:</h6>  <p>Notre élément vital dans l'établissement de relation durables.</p>
                  <h6>SA CONFIANCE:</h6> <p>La confiance mutuelle est notre qualité sur laquelle repose nos relations d'affaires</p>
                 <h6>SON ENGAGEMENT:</h6> <p>Honorer nos promesses d'accompagnement avec nos partenaires</p>
                 <h6>SON EFFICACITÉ:</h6> <p>L'efficacité d'une équipe expérimentée qui travaille dans le serieux et la confidentialité totale</p>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Les investissements sont réalisés dans les PME dotées d’un fort potentiel de croissance, dans les secteurs suivants:</h6>
                  <h4>L’industrie.</h4>
                  <h4>Les services.</h4>
                  <h4>Le tourisme.</h4>
                  <h4>L’agriculture.</h4>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1> Nos Services</h1>
            <span> Nous avons plus que 20 years of experience</span>
          </div>
        </div>
      </div>
    </div>
    <div class="single-services">
      <div class="container">
        <div class="row" id="tabs">
          <div class="col-md-4">
            <ul>
              <li><a href='#tabs-1'>Le coaching <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-2'>Financement adequat <i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-3'>L'ingenierie financiere<i class="fa fa-angle-right"></i></a></li>
              <li><a href='#tabs-4'>Performance <i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <img src="assets/images/single_service_01.jpg" alt="">
                <h4>Le coaching</h4>
                <p>L’accompagnement dans la réalisation des projets, l’assistance et le conseil en management</p>
                <br><br>
              </article>
              <article id='tabs-2'>
                <img src="assets/images/single_service_02.jpg" alt="">
                <h4>Financement adequat</h4>
                <p>
                Un financement adapté aux besoins des projets.</p>
                <br><br>
              </article>
              <article id='tabs-3'>
                <img src="assets/images/single_service_03.jpg" alt="">
                <h4>L'ingenierie financiere
                </h4>
                <p>La due diligence, l’évaluation, etc.
                </p>
                <br><br>
              </article>
              <article id='tabs-4'>
                <img src="assets/images/single_service_04.jpg" alt="">
                <h4>Performance</h4>
                <p>Un return optimal sur les investissements </p>
                <br><br> 
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>